@model MVCVacationManagement.Models.Entity.TBLTURYETKILISI
@{
    ViewBag.Title = "TourManagerInformations";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

@using (Html.BeginForm("UpdateTourManager", "Admin", FormMethod.Post))
{
    <h2>Tur Yetkilisi Bilgileri</h2>
    <br />
    @Html.HiddenFor(item => item.id, new { @class = "form-control" })
    <label>Adı</label>
    @Html.TextBoxFor(item => item.ad, new { @class = "form-control" })
    <br />
    <label>Soyadı</label>
    @Html.TextBoxFor(item => item.soyad, new { @class = "form-control" })
    <br />
    <label>Kullancı Adı</label>
    @Html.TextBoxFor(item => item.kullanici_adi, new { @class = "form-control" })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(item => item.sifre, new { @class = "form-control", @type="password"  })
    <br />

    <button class="btn btn-warning">Güncelle</button>

}

